
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Montserrat', sans-serif;
}
.footer-container{
    max-width: 1170px;
    margin: auto;
}

.footer-row{
    display: flex;
    flex-wrap: wrap;
}

ul{
    list-style: none;
}

.footer{
    background-color: #24262b;
    padding: 70px 0;
}

.footer-col{
    width: 25%;
    padding: 0 15px;
}

.footer-col h4{
    font-size: 18px;
    color: white;
    text-transform: uppercase;
    margin-bottom: 35px;
    position: relative;
}

.footer-col h4::before{
    content: '';
    position: absolute;
    left: 0;
    bottom: -10px;
    background-color: gray;
    height: 2px;
    box-sizing: border-box;
    width: 50px;
}

.footer-col ul li:not(:last-child){
    margin-bottom: 10px;
}

.footer-col ul li a{
    font-size: 16px;
    text-transform: capitalize;
    color: gray;
    text-decoration: none;
    display: block;
    transition: all 0.3s ease;
}

.footer-col ul li a:hover{
    color: white;
    padding: 10px;
}

.footer-col p{
    color: gray;
    margin-bottom: 10px;
}

.footer-col .contact-item{
    margin-bottom: 10px;
    margin-top: 10px;
}

.footer-col a{
    color: white;
}

.footer-col .contact-item p{
    margin-bottom: 10px;
    margin-top: 10px;
}

.footer-col .social-links a{
    display: inline-table;
    height: 40px;
    width: 40px;
    background-color: rgba(225, 225, 225, 0.2);
    margin: 0 10px 10px 0;
    text-align: center;
    line-height: 40px;
    color: white;
    border-radius: 50%;
    transition: all 0.5s ease;
}

.footer-col .social-links a:hover{
    color: gray;
    background-color: white;
}

@media(max-width: 767px){
    .footer-col{
        width: 25%;
        margin-bottom: 30px;
    }
}

@media(max-width: 574px){
    .footer-col{
        width: 100%;
    }
}
